.heroSection {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease-in-out;
}
.captionBg {
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.caption {
    position: absolute;
    top: 50%;
    left: 64px;
    transform: translateY(-50%);
}
.caption h1 {
    color: #fff;
    font-size: 4rem;
    margin-bottom: 16px;
}
.caption p {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 16px;
}

@media (max-width: 768px) {
    .caption {
        left: 32px;
    }

    .caption h1 {
        font-size: 2.5rem;
    }

    .caption p {
        font-size: 1.2rem;
    }
}